<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="example.infrastructure.repository.medicationrecord.MedicationRecordMapper">
    <select id="findOneByMedicationRecordId" resultMap="MedicationRecordResultMap">
        SELECT
            <include refid="AllColumns"/>
        FROM
            medication_records
        WHERE
            medication_record_id = #{medicationRecordId};
    </select>

    <select id="findAllByMedicineId" resultMap="MedicationRecordResultMap">
        SELECT
            <include refid="AllColumns"/>
        FROM
            medication_records
        WHERE
            taken_medicine = #{medicineId};
    </select>

    <insert id="upsert">
        INSERT INTO medication_records(
            medication_record_id,
            recorder,
            taken_medicine,
            quantity,
            symptom,
            before_medication,
            after_medication,
            note,
            taken_at
        )VALUES(
            #{medicationRecordId},
            #{recorder},
            #{takenMedicine},
            #{quantity},
            #{symptom},
            #{beforeMedication},
            #{afterMedication, jdbcType=VARCHAR},
            #{note},
            #{takenAt}
        )ON DUPLICATE KEY UPDATE
            taken_medicine = VALUES(taken_medicine),
            quantity = VALUES(quantity),
            symptom = VALUES(symptom),
            before_medication = VALUES(before_medication),
            after_medication = VALUES(after_medication),
            note = VALUES(note),
            taken_at = VALUES(taken_at);
    </insert>

    <insert id="upsertAll">
        INSERT INTO medication_records(
            medication_record_id,
            recorder,
            taken_medicine,
            quantity,
            symptom,
            before_medication,
            after_medication,
            note,
            taken_at
        )VALUES
            <foreach collection="medicationRecords" item="medicationRecord" separator=",">
                (#{medicationRecord.medicationRecordId},
                 #{medicationRecord.recorder},
                 #{medicationRecord.takenMedicine},
                 #{medicationRecord.quantity},
                 #{medicationRecord.symptom},
                 #{medicationRecord.beforeMedication},
                 #{medicationRecord.afterMedication, jdbcType=VARCHAR},
                 #{medicationRecord.note},
                 #{medicationRecord.takenAt})
            </foreach>
        ON DUPLICATE KEY UPDATE
            taken_medicine = VALUES(taken_medicine),
            quantity = VALUES(quantity),
            symptom = VALUES(symptom),
            before_medication = VALUES(before_medication),
            after_medication = VALUES(after_medication),
            note = VALUES(note),
            taken_at = VALUES(taken_at);
    </insert>

    <delete id="deleteOneByMedicationRecordId">
        DELETE FROM medication_records
        WHERE medication_record_id = #{medicationRecordId};
    </delete>

    <delete id="deleteAllByMedicineId">
        DELETE FROM medication_records
        WHERE taken_medicine = #{medicineId};
    </delete>

    <delete id="deleteAllByAccountId">
        DELETE FROM medication_records
        WHERE recorder = #{accountId};
    </delete>


    <sql id="AllColumns">
        medication_record_id AS medication_record_id,
        recorder AS recorder,
        taken_medicine AS taken_medicine,
        quantity AS quantity,
        symptom AS symptom,
        before_medication AS before_medication,
        after_medication AS after_medication,
        note AS note,
        taken_at AS taken_at
    </sql>

    <resultMap id="MedicationRecordResultMap" type="MedicationRecord">
        <constructor>
            <idArg column="medication_record_id" javaType="MedicationRecordId" resultMap="MedicationRecordIdResultMap"/>
            <arg column="recorder" javaType="AccountId" resultMap="AccountIdResultMap"/>
            <arg column="taken_medicine" javaType="MedicineId" resultMap="MedicineIdResultMap"/>
            <arg column="quantity" javaType="Dose" resultMap="DoseResultMap"/>
            <arg column="{symptom, before_medication, after_medication}" javaType="FollowUp" resultMap="FollowUpResultMap"/>
            <arg column="note" javaType="Note" resultMap="NoteResultMap"/>
            <arg column="taken_at" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>
    <resultMap id="MedicationRecordIdResultMap" type="MedicationRecordId">
        <constructor>
            <idArg column="medication_record_id" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="AccountIdResultMap" type="AccountId">
        <constructor>
            <idArg column="recorder" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="MedicineIdResultMap" type="MedicineId">
        <constructor>
            <idArg column="taken_medicine" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="DoseResultMap" type="Dose">
        <constructor>
            <idArg column="quantity" javaType="_double"/>
        </constructor>
    </resultMap>
    <resultMap id="FollowUpResultMap" type="FollowUp">
        <constructor>
            <arg column="symptom" javaType="String"/>
            <arg column="before_medication" javaType="ConditionLevel"/>
            <arg column="after_medication" javaType="ConditionLevel"/>
        </constructor>
    </resultMap>
    <resultMap id="NoteResultMap" type="Note">
        <constructor>
            <idArg column="note" javaType="String"/>
        </constructor>
    </resultMap>
</mapper>