<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="example.infrastructure.repository.profile.ProfileMapper">
    <select id="findOneByAccountId" resultMap="ProfileResultMap">
        SELECT
            <include refid="AllColumns"/>
        FROM
            profiles
        WHERE
            account_id = #{accountId};
    </select>

    <insert id="saveProfile">
        INSERT INTO profiles(
            <include refid="AllColumns"/>
        )VALUES(
            #{accountId},
            #{username},
            #{profileImageRootPath, jdbcType=VARCHAR},
            #{profileImageRelativePath, jdbcType=VARCHAR}
        )ON DUPLICATE KEY UPDATE
            username = #{username},
            profile_image_root_path = #{profileImageRootPath, jdbcType=VARCHAR},
            profile_image_relative_path = #{profileImageRelativePath, jdbcType=VARCHAR};
    </insert>

    <delete id="deleteProfile">
        DELETE FROM profiles
        WHERE account_id = #{accountId};
    </delete>


    <sql id="AllColumns">
        account_id,
        username,
        profile_image_root_path,
        profile_image_relative_path
    </sql>

    <resultMap id="ProfileResultMap" type="Profile">
        <constructor>
            <idArg column="account_id" javaType="AccountId" resultMap="AccountIdResultMap"/>
            <arg column="username" javaType="Username" resultMap="UsernameResultMap"/>
            <arg column="{profile_image_root_path, profile_image_relative_path}" javaType="ProfileImageFullPath" resultMap="ProfileImageFullPathResultMap"/>
        </constructor>
    </resultMap>
    <resultMap id="AccountIdResultMap" type="AccountId">
        <constructor>
            <idArg column="account_id" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="UsernameResultMap" type="Username">
        <constructor>
            <idArg column="username" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="ProfileImageFullPathResultMap" type="ProfileImageFullPath">
        <constructor>
            <idArg column="profile_image_root_path" javaType="String"></idArg>
            <idArg column="profile_image_relative_path" javaType="String"></idArg>
        </constructor>
    </resultMap>
</mapper>