<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" />
    <script th:src="@{/dist/js/medicationRecords.bundle.js}" defer></script>
  </head>

  <body>
    <div id="medicationRecords" layout:fragment="content">
      <medication-records
        th:attr="':is-participating-in-shared-group'=${isParticipatingInSharedGroup}, csrf=${_csrf.token}"
      ></medication-records>

      <div class="bottom-fullwidth">
        <div class="tabs is-fullwidth has-background-info-light">
          <ul class="m-0">
            <li>
              <a class="px-0 py-4" th:href="@{/medication-records/add}">
                <p class="button is-link is-rounded is-outlined">
                  <strong> 服用記録を追加する </strong>
                  <span
                    class="icon fas fa-lg is-flex is-align-items-center mr-0"
                  >
                    <i class="fa-solid fa-file-pen"></i>
                  </span>
                </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
