<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="example.infrastructure.repository.account.AccountMapper">
    <select id="findOneAccountByAccountId" resultMap="AccountResultMap">
        SELECT
            account_id,
            username,
            credential_type
        FROM
            accounts
        WHERE
            account_id = #{accountId};
    </select>
    <select id="findOneOauth2CredentialByAccountId" resultMap="Oauth2CredentialResultMap">
        SELECT
            id_p,
            subject
        FROM
            oauth2_credentials
        WHERE
            account_id = #{accountId};
    </select>

    <insert id="saveAccount">
        INSERT INTO accounts(
            account_id,
            username,
            credential_type
        )values(
            #{accountId},
            #{username},
            #{credentialType}
        );
    </insert>
    <insert id="saveOauth2Credential">
        INSERT INTO oauth2_credentials(
            account_id,
            id_p,
            subject
        )values(
            #{accountId},
            #{idP},
            #{subject}
        );
    </insert>


    <resultMap id="AccountResultMap" type="example.infrastructure.repository.account.AccountResultEntity">
        <constructor>
            <idArg column="account_id" javaType="AccountId" resultMap="AccountIdResultMap"/>
            <arg column="username" javaType="Username" resultMap="UsernameResultMap"/>
            <arg column="credential_type" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="AccountIdResultMap" type="AccountId">
        <constructor>
            <idArg column="account_id" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="UsernameResultMap" type="Username">
        <constructor>
            <idArg column="username" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="Oauth2CredentialResultMap" type="Oauth2Credential">
        <constructor>
            <idArg column="id_p" javaType="IdP"/>
            <idArg column="subject" javaType="String"/>
        </constructor>
    </resultMap>
</mapper>