<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="example.infrastructure.repository.takingrecord.TakingRecordMapper">
    <select id="findOneByTakingRecordId" resultMap="TakingRecordResultMap">
        SELECT
            <include refid="AllColumns"/>
        FROM
            taking_records
        WHERE
            taking_record_id = #{takingRecordId};
    </select>

    <select id="countByTakenMedicine" resultType="_long">
        SELECT
            COUNT(*)
        FROM
            taking_records
        WHERE
            taken_medicine = #{takenMedicine};
    </select>

    <select id="findAllByMedicineId" resultMap="TakingRecordResultMap">
        SELECT
            <include refid="AllColumns"/>
        FROM
            taking_records
        WHERE
            taken_medicine = #{takenMedicine}
        ORDER BY
            taken_at DESC
        LIMIT
            #{pageSize}
        OFFSET
            #{offset};
    </select>

    <insert id="upsertTakingRecord">
        INSERT INTO taking_records(
            taking_record_id,
            recorder,
            taken_medicine,
            quantity,
            symptom,
            before_taking,
            after_taking,
            note,
            taken_at
        )VALUES(
            #{takingRecordId},
            #{recorder},
            #{takenMedicine},
            #{quantity},
            #{symptom},
            #{beforeTaking},
            #{afterTaking, jdbcType=VARCHAR},
            #{note},
            #{takenAt}
        )ON DUPLICATE KEY UPDATE
            taken_medicine = #{takenMedicine},
            quantity = #{quantity},
            symptom = #{symptom},
            before_taking = #{beforeTaking},
            after_taking = #{afterTaking, jdbcType=VARCHAR},
            note = #{note},
            taken_at = #{takenAt};
    </insert>

    <delete id="deleteTakingRecord">
        DELETE FROM taking_records
        WHERE taking_record_id = #{takingRecordId};
    </delete>

    <sql id="AllColumns">
        taking_record_id AS taking_record_id,
        recorder AS recorder,
        taken_medicine AS taken_medicine,
        quantity AS quantity,
        symptom AS symptom,
        before_taking AS before_taking,
        after_taking AS after_taking,
        note AS note,
        taken_at AS taken_at
    </sql>

    <resultMap id="TakingRecordResultMap" type="TakingRecord">
        <constructor>
            <idArg column="taking_record_id" javaType="TakingRecordId" resultMap="TakingRecordIdResultMap"/>
            <arg column="recorder" javaType="AccountId" resultMap="AccountIdResultMap"/>
            <arg column="taken_medicine" javaType="MedicineId" resultMap="MedicineIdResultMap"/>
            <arg column="quantity" javaType="Dose" resultMap="DoseResultMap"/>
            <arg column="{symptom, before_taking, after_taking}" javaType="FollowUp" resultMap="FollowUpResultMap"/>
            <arg column="note" javaType="Note" resultMap="NoteResultMap"/>
            <arg column="taken_at" javaType="java.time.LocalDateTime"/>
        </constructor>
    </resultMap>
    <resultMap id="TakingRecordIdResultMap" type="TakingRecordId">
        <constructor>
            <idArg column="taking_record_id" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="AccountIdResultMap" type="AccountId">
        <constructor>
            <idArg column="recorder" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="MedicineIdResultMap" type="MedicineId">
        <constructor>
            <idArg column="taken_medicine" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="DoseResultMap" type="Dose">
        <constructor>
            <idArg column="quantity" javaType="_double"/>
        </constructor>
    </resultMap>
    <resultMap id="FollowUpResultMap" type="FollowUp">
        <constructor>
            <arg column="symptom" javaType="String"/>
            <arg column="before_taking" javaType="ConditionLevel"/>
            <arg column="after_taking" javaType="ConditionLevel"/>
        </constructor>
    </resultMap>
    <resultMap id="NoteResultMap" type="Note">
        <constructor>
            <idArg column="note" javaType="String"/>
        </constructor>
    </resultMap>
</mapper>