<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
    <script th:src="@{/dist/js/medicineDetail.bundle.js}" defer></script>
  </head>

  <body>
    <div id="medicineDetail" th:object="${medicine}" layout:fragment="content">
      <result-message ref="resultMessage"></result-message>

      <div class="container is-max-desktop p-3">
        <div class="content has-text-centered mb-3">
          <p class="icon-text has-text-grey-dark is-size-4">
            <strong th:text="*{medicineName}"></strong>
            <span
              class="icon mx-1"
              th:if="${isParticipatingInSharedGroup} and *{!isPublic}"
            >
              <i class="fa-solid fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="notification has-background-white py-3 px-5">
          <div class="columns p-3">
            <div class="column p-3 is-one-third">
              <changeable-image
                ref="changeableImage"
                th:attr="image=*{medicineImageURL}, csrf=${_csrf.token}, execute-root-path='/api/medicines/__*{medicineId}__/image'"
                image-name="お薬画像"
                :no-image="noMedicineImage"
                th:if="*{medicineImageURL!=null}"
              ></changeable-image>
              <changeable-image
                ref="changeableImage"
                th:attr="csrf=${_csrf.token}, execute-root-path='/api/medicines/__*{medicineId}__/image'"
                image-name="お薬画像"
                :no-image="noMedicineImage"
                th:if="*{medicineImageURL==null}"
              ></changeable-image>
            </div>
            <div
              class="column p-3 is-flex is-flex-direction-column is-justify-content-space-between"
            >
              <div class="m-2">
                <div class="border-bottom block m-0 pb-3">
                  <p
                    class="is-size-5 has-text-weight-bold has-text-info-dark has-text-centered mb-3"
                  >
                    用法・用量
                  </p>
                  <div
                    th:object="${medicine.dosageAndAdministration}"
                    th:remove="tag"
                  >
                    <p class="is-flex is-justify-content-space-between mb-2">
                      <span class="has-text-weight-semibold">
                        1回あたりの服用量
                      </span>
                      <span>
                        <strong class="is-size-5">[[*{dose}]]</strong>
                        <span class="has-text-weight-semibold">
                          [[*{doseUnit}]]
                        </span>
                      </span>
                    </p>
                    <p class="is-flex is-justify-content-space-between mb-2">
                      <span class="has-text-weight-semibold">
                        1日あたりの服用回数
                      </span>
                      <span>
                        <strong class="is-size-5">[[*{timesPerDay}]] </strong>
                        <span class="has-text-weight-semibold">回</span>
                      </span>
                    </p>
                    <p
                      class="is-flex is-justify-content-space-between mb-3"
                      th:if="*{!timingOptions.isEmpty()}"
                    >
                      <span class="has-text-weight-semibold">
                        服用するタイミング
                      </span>
                      <span>
                        <span
                          th:each="timing, status:*{timingOptions}"
                          th:remove="tag"
                        >
                          <span
                            class="has-text-weight-semibold"
                            th:text=" ${timing.str}"
                          ></span>
                          <span
                            class="has-text-weight-semibold"
                            th:if="${__${status.size}__ != __${status.count}__}"
                          >
                            /
                          </span>
                        </span>
                      </span>
                    </p>
                  </div>
                </div>
                <div class="block m-0 py-3">
                  <p
                    class="is-size-5 has-text-weight-bold has-text-info-dark has-text-centered mb-3"
                  >
                    効能
                  </p>
                  <span>
                    <span
                      th:each="effect, status:*{effects.values}"
                      th:remove="tag"
                    >
                      <span
                        class="has-text-weight-semibold"
                        th:text=" ${effect}"
                      ></span>
                      <span
                        class="has-text-weight-semibold"
                        th:if="${__${status.size}__ != __${status.count}__}"
                      >
                        ・
                      </span>
                    </span>
                  </span>
                </div>
                <div class="block m-0 py-3" th:if="*{!precautions.isBlank()}">
                  <p
                    class="is-size-5 has-text-weight-bold has-text-danger-dark has-text-centered mb-3"
                  >
                    注意事項
                  </p>

                  <p class="notification has-background-danger-light p-4">
                    <span
                      class="has-text-weight-semibold mb-1"
                      th:text="*{precautions}"
                    ></span>
                  </p>
                </div>
                <inventory
                  ref="inventory"
                  th:attr="medicine-id=*{medicineId}, dose-unit=*{dosageAndAdministration.doseUnit}, ':remaining-quantity'=*{inventory.remainingQuantity}, ':quantity-per-package'=*{inventory.quantityPerPackage}, started-on=*{inventory.startedOn}, expiration-on=*{inventory.expirationOn}, ':unused-package'=*{inventory.unusedPackage}, csrf=${_csrf.token}"
                  th:if="*{inventory != null}"
                ></inventory>
                <inventory
                  ref="inventory"
                  th:attr="medicine-id=*{medicineId}, dose-unit=*{dosageAndAdministration.doseUnit}, csrf=${_csrf.token}"
                  th:if="*{inventory ==null}"
                >
                </inventory>
              </div>
            </div>
          </div>
        </div>

        <div class="content pb-6">
          <medication-records
            th:attr="medicine-id=*{medicineId}, ':is-participating-in-shared-group'=${isParticipatingInSharedGroup}, csrf=${_csrf.token}"
          ></medication-records>
        </div>
      </div>

      <div th:if="${isAvailableMedicine}" th:remove="tag">
        <div
          class="bottom-fullwidth has-text-centered has-background-info-light py-4 m-0"
        >
          <div class="tabs is-fullwidth has-background-info-light p-0">
            <ul>
              <li>
                <a
                  class="is-small has-text-link"
                  th:href="@{__${lastRequestedPagePath}__}"
                >
                  <span
                    class="icon fas fa-2x is-flex is-align-items-center has-text-link"
                  >
                    <i class="fa-solid fa-reply"></i>
                  </span>
                </a>
              </li>
              <li>
                <a
                  class="is-small has-text-link"
                  th:href="@{/medication-records/add?medicine={medicine}(medicine=*{medicineId})}"
                >
                  <span class="icon fas fa-2x is-flex is-align-items-center">
                    <i class="fa-solid fa-file-pen"></i>
                  </span>
                </a>
              </li>
              <li>
                <a
                  class="is-small has-text-link"
                  @click="isMenuModalActive = true"
                >
                  <span class="icon fas fa-2x is-flex is-align-items-center">
                    <i class="fa-solid fa-ellipsis"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="modal" :class="{ 'is-active': isMenuModalActive }">
          <div
            class="modal-background"
            @click="isMenuModalActive = false"
          ></div>
          <div class="modal-content is-flex is-justify-content-center">
            <div class="content">
              <a
                class="button is-dark is-fullwidth is-small mb-1"
                th:href="@{/medicines/{medicineId}/basicinfo/update(medicineId=*{medicineId})}"
              >
                <strong class="mx-6">基本情報を更新する</strong>
              </a>
              <button
                type="button"
                class="button is-dark is-fullwidth is-small mb-1"
                @click="activateMedicineImageMenuModal()"
              >
                <strong class="mx-6">画像を変更する</strong>
              </button>
              <button
                type="button"
                class="button is-dark is-fullwidth is-small mb-1"
                @click="activateInventoryAdjustmentModal()"
              >
                <strong class="mx-6" th:if="*{inventory != null}">
                  在庫を修正する
                </strong>
                <strong class="mx-6" th:if="*{inventory == null}">
                  在庫管理を開始する
                </strong>
              </button>
              <button
                type="button"
                class="button is-dark is-fullwidth is-small mb-1"
                @click="activateDeletionConfirmationModal()"
              >
                <strong>お薬を削除する</strong>
              </button>
              <button
                type="button"
                class="button is-dark is-fullwidth is-small has-text-danger-dark mb-1"
                @click="isMenuModalActive = false"
              >
                <strong class="mx-6">キャンセル</strong>
              </button>
            </div>
          </div>
        </div>

        <confirmation-message
          ref="confirmationMessage"
          message="このお薬を削除しますか？"
          details="服用記録を含む、お薬に関する全ての情報が削除されます。本当に削除してよろしいですか？"
          button-label="削除"
          th:attr="path=|/medicines/${medicineId}/delete|, csrf=${_csrf.token}"
        ></confirmation-message>
      </div>
    </div>
  </body>
</html>
