<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layoutWithFooter}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
    <script th:src="@{/dist/js/medicineDetail.bundle.js}" defer></script>
  </head>

  <body>
    <div id="medicineDetail" th:object="${medicine}" layout:fragment="content">
      <div class="container is-max-desktop p-3">
        <div class="content has-text-centered mb-3">
          <p class="icon-text has-text-grey-dark is-size-4">
            <strong th:text="*{medicineName}"></strong>
            <span class="icon mx-1" th:if="*{!isPublic}">
              <i class="fa-solid fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="notification has-background-white py-3 px-5">
          <div class="columns p-3">
            <div class="column p-3 is-one-third">
              <changeable-image
                ref="changeableImage"
                th:attr="image=*{medicineImageURL}, csrf=${_csrf.token}, execute-path='/api/medicines/__*{medicineId}__/image/change'"
                image-name="お薬画像"
                :no-image="noMedicineImage"
                th:if="*{medicineImageURL!=null}"
              ></changeable-image>
              <changeable-image
                ref="changeableImage"
                th:attr="csrf=${_csrf.token}, execute-path='/api/medicines/__*{medicineId}__/image/change'"
                image-name="お薬画像"
                :no-image="noMedicineImage"
                th:if="*{medicineImageURL==null}"
              ></changeable-image>
            </div>
            <div
              class="column p-3 is-flex is-flex-direction-column is-justify-content-space-between"
            >
              <div class="m-2">
                <div class="block">
                  <p
                    class="has-text-weight-bold has-text-link has-text-centered mb-3"
                  >
                    用法・用量
                  </p>
                  <div
                    th:object="${medicine.dosageAndAdministration}"
                    th:remove="tag"
                  >
                    <p class="is-flex is-justify-content-space-between mb-2">
                      <span class="has-text-weight-semibold">
                        1回あたりの服用量
                      </span>
                      <span>
                        <strong class="is-size-5">[[*{dose}]]</strong>
                        <span class="has-text-weight-semibold">
                          [[*{doseUnit}]]
                        </span>
                      </span>
                    </p>
                    <p class="is-flex is-justify-content-space-between mb-2">
                      <span class="has-text-weight-semibold">
                        1日あたりの服用回数
                      </span>
                      <span>
                        <strong class="is-size-5">[[*{timesPerDay}]]</strong>
                        <span class="has-text-weight-semibold">回</span>
                      </span>
                    </p>
                    <p
                      class="is-flex is-justify-content-space-between mb-3"
                      th:if="*{!timingOptions.isEmpty()}"
                    >
                      <span class="has-text-weight-semibold">
                        服用するタイミング
                      </span>
                      <span>
                        <span
                          th:each="timing, status:*{timingOptions}"
                          th:remove="tag"
                        >
                          <span
                            class="has-text-weight-semibold"
                            th:text=" ${timing.str}"
                          ></span>
                          <span
                            class="has-text-weight-semibold"
                            th:if="${__${status.size}__ != __${status.count}__}"
                          >
                            /
                          </span>
                        </span>
                      </span>
                    </p>
                  </div>
                  <p class="tags are-medium has-text-right m-0">
                    <span
                      class="tag mb-0 is-warning is-rounded has-text-weight-bold"
                      th:each="effect:*{effects.values}"
                      th:text="${effect}"
                    ></span>
                  </p>
                </div>
                <div class="block" th:if="*{!precautions.isBlank()}">
                  <p
                    class="has-text-weight-bold has-text-danger-dark has-text-centered mb-3"
                  >
                    注意事項
                  </p>
                  <div th:each="line:*{precautions.toLines()}" th:remove="tag">
                    <p
                      class="has-text-weight-semibold mb-1"
                      th:text="${line}"
                    ></p>
                  </div>
                </div>
                <inventory
                  ref="inventory"
                  th:attr="medicine-id=*{medicineId}, dose-unit=*{dosageAndAdministration.doseUnit}, ':remaining-quantity'=*{inventory.remainingQuantity}, ':quantity-per-package'=*{inventory.quantityPerPackage}, started-on=*{inventory.startedOn}, expiration-on=*{inventory.expirationOn}, ':unused-package'=*{inventory.unusedPackage}, csrf=${_csrf.token}"
                  th:if="*{inventory != null}"
                ></inventory>
                <inventory
                  ref="inventory"
                  th:attr="medicine-id=*{medicineId}, dose-unit=*{dosageAndAdministration.doseUnit}, csrf=${_csrf.token}"
                  th:if="*{inventory ==null}"
                >
                </inventory>
              </div>
            </div>
          </div>
        </div>
      </div>

      <medication-records
        th:attr="medicine-id=*{medicineId}, ':display-recorder'=${isParticipatingInSharedGroup}, csrf=${_csrf.token}"
      ></medication-records>

      <div th:if="${isAvailableMedicine}" th:remove="tag">
        <div class="modal" :class="{ 'is-active': isMenuModalActive }">
          <div class="modal-background"></div>
          <div class="modal-content is-flex is-justify-content-center">
            <div class="panel is-info is-inline-block">
              <p class="panel-heading has-text-right pt-2 pb-1 px-2">
                <button
                  class="delete"
                  type="button"
                  @click="isMenuModalActive = false"
                ></button>
              </p>
              <span class="panel-block has-background-white p-0">
                <a
                  class="button is-white is-fullwidth px-6"
                  th:href="@{/medication-records/add?medicine={medicine}(medicine=*{medicineId})}"
                >
                  <span class="panel-icon has-text-link">
                    <i class="fa-solid fa-file-pen"></i>
                  </span>
                  <strong class="has-text-grey-dark">服用記録を追加する</strong>
                </a>
              </span>
              <span class="panel-block has-background-white p-0">
                <a
                  class="button is-white is-fullwidth px-6"
                  th:href="@{/medicines/{medicineId}/basicinfo/update(medicineId=*{medicineId})}"
                >
                  <span class="panel-icon has-text-link">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </span>
                  <strong class="has-text-grey-dark">基本情報を更新する</strong>
                </a>
              </span>
              <span class="panel-block has-background-white p-0">
                <button
                  class="button is-white is-fullwidth px-6"
                  @click="activateMedicineImageChangeModal()"
                  style="border: none"
                >
                  <span class="panel-icon has-text-link">
                    <i class="fa-solid fa-image"></i>
                  </span>
                  <strong class="has-text-grey-dark">画像を変更する</strong>
                </button>
              </span>
              <span class="panel-block has-background-white p-0">
                <button
                  class="button is-white is-fullwidth px-6"
                  @click="activateInventoryAdjustmentModal()"
                  style="border: none"
                >
                  <span class="panel-icon has-text-link">
                    <i class="fa-solid fa-cubes-stacked"></i>
                  </span>
                  <strong
                    class="has-text-grey-dark"
                    th:if="*{inventory != null}"
                    >在庫を修正する</strong
                  >
                  <strong
                    class="has-text-grey-dark"
                    th:if="*{inventory == null}"
                  >
                    在庫管理を開始する
                  </strong>
                </button>
              </span>
              <span class="panel-block has-background-white p-0">
                <button
                  class="button is-white is-fullwidth px-6"
                  @click="activateDeletionConfirmationModal()"
                  style="border: none"
                >
                  <span class="panel-icon has-text-danger">
                    <i class="fa-solid fa-trash-can"></i>
                  </span>
                  <strong class="has-text-danger-dark">お薬を削除する</strong>
                </button>
              </span>
            </div>
          </div>
        </div>

        <confirmation-message
          ref="confirmationMessage"
          message="このお薬を削除しますか？"
          details="服用記録を含む、お薬に関する全ての情報が削除されます。"
          button-label="削除"
          th:attr="path=|/medicines/${medicineId}/delete|, csrf=${_csrf.token}"
        ></confirmation-message>
        <div class="bottom-right-button">
          <p
            class="button is-rounded has-background-info-dark"
            @click="isMenuModalActive = true"
          >
            <span
              class="icon fas fa-lg has-text-white is-flex is-align-items-center is-medium"
            >
              <i class="fa-solid fa-ellipsis"></i>
            </span>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
