<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
    <script th:src="@{/dist/js/medicineDetail.bundle.js}" defer></script>
    <link rel="stylesheet" th:href="@{/dist/css/style.bundle.css}" />
  </head>

  <body>
    <div th:object="${medicineDetail}" layout:fragment="content">
      <div class="content has-text-centered">
        <h1 class="is-size-5 has-text-grey-dark">
          <span th:text="*{name}"> </span>
        </h1>
      </div>

      <div class="container is-max-desktop">
        <div class="notification is-white py-2">
          <div class="content">
            <div class="my-3">
              <p
                class="has-text-weight-bold has-text-link-dark has-text-centered"
              >
                用法・用量
              </p>
              <div class="mx-3">
                <p class="mb-1" th:text="*{administration}"></p>
                <p class="mb-1" th:text="*{dosage}"></p>
              </div>
            </div>
            <div class="my-3" th:if="*{!precautions.isBlank()}">
              <p
                class="has-text-weight-bold has-text-danger-dark has-text-centered"
              >
                注意事項
              </p>
              <div class="mx-3" th:each="line:*{precautions.toLines()}">
                <p class="mb-1" th:text="${line}"></p>
              </div>
            </div>
          </div>
          <div class="tags my-2">
            <span
              class="tag is-warning is-rounded has-text-weight-bold"
              th:each="effect:*{effects.values}"
              th:text="${effect}"
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div id="medicineDetail" layout:fragment="footer">
      <div class="tabs is-fullwidth has-background-info-light">
        <ul>
          <li>
            <a
              class="is-small is-link"
              th:href="@{/medicines/{medicineId}/update(medicineId=*{medicineId})}"
            >
              <span class="icon fas fa-2x is-flex is-align-items-center">
                <i class="fa-regular fa-pen-to-square"></i>
              </span>
            </a>
          </li>
          <li>
            <a
              class="is-small is-link"
              @click="isDeletionConfirmationModalActive = true"
            >
              <span class="icon fas fa-2x is-flex is-align-items-center">
                <i class="fa-solid fa-trash-can"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>

      <div
        class="modal"
        :class="{ 'is-active': isDeletionConfirmationModalActive }"
      >
        <div
          class="modal-background"
          @click="isDeletionConfirmationModalActive = false"
        ></div>
        <div class="modal-content is-flex is-justify-content-center">
          <div class="message is-inline-block is-danger">
            <div class="message-body">
              <div class="content">
                <div class="has-text-centered mb-2">
                  <strong class="is-size-5 mb-1">本当に削除しますか？</strong>
                  <br />
                  <small>
                    薬を削除すると、服薬記録を含む薬に関する全ての情報が削除されます。
                    <br />本当に削除しますか？
                  </small>
                </div>
                <form
                  class="form"
                  method="post"
                  th:action="@{/medicines/{medicineId}/delete(medicineId=*{medicineId})}"
                >
                  <div class="field is-grouped is-grouped-centered">
                    <p class="control">
                      <button class="button is-small is-rounded is-danger">
                        はい
                      </button>
                    </p>
                    <p class="control">
                      <button
                        type="button"
                        class="button is-small is-rounded is-link"
                        @click="isDeletionConfirmationModalActive = false"
                      >
                        いいえ
                      </button>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>