<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
    <script th:src="@{/dist/js/medicineForm.bundle.js}" defer></script>
  </head>

  <body>
    <div id="medicineForm" layout:fragment="content">
      <result-message ref="resultMessage"></result-message>

      <div class="container is-max-desktop p-3">
        <div class="has-text-centered">
          <p
            class="is-size-4 has-text-weight-bold has-text-grey-dark"
            th:text="${title}"
            v-pre
          ></p>
        </div>
        <form class="form" method="post" th:action="@{__${executePath}__}">
          <div class="content py-4">
            <div
              th:replace="~{fragments/medicineBasicInfoForm::macro(${form})}"
            ></div>
            <medicine-owner
              th:attr="':is-owned-by-shared-group'=${form.isOwnedBySharedGroup}, ':is-public'=${form.isPublic}"
              th:if="${isParticipatingInSharedGroup}"
            ></medicine-owner>
          </div>
          <div class="field is-grouped is-grouped-centered my-3">
            <p class="control">
              <button class="button is-rounded is-link">完了</button>
            </p>
            <p class="control">
              <button
                type="button"
                class="button is-rounded is-outlined is-danger"
                @click="goBack()"
              >
                キャンセル
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>