<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
  </head>

  <body>
    <div id="medicineOverviews" layout:fragment="content">
      <result-message ref="resultMessage"></result-message>

      <medicine-overviews
        th:attr="':is-Joined-shared-group'=${isJoinedSharedGroup}, filter-effect=${medicineFilter.effect}"
      ></medicine-overviews>

      <div
        class="bottom-fullwidth has-text-centered has-background-info-light py-4 m-0"
      >
        <a
          class="button is-link is-rounded is-outlined px-5"
          th:href="@{/medicines/register}"
        >
          <strong>お薬を登録する</strong>
          <span class="icon fas fa-lg is-flex is-align-items-center m-0">
            <i class="fa-solid fa-capsules"></i>
          </span>
        </a>
      </div>

      <script th:src="@{/dist/js/medicineOverviews.bundle.js}"></script>
    </div>
  </body>
</html>
