<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
    <script th:src="@{/dist/js/medicineOverviews.bundle.js}" defer></script>
  </head>

  <body>
    <div id="medicineOverviews" layout:fragment="content">
      <div class="content has-text-centered">
        <h1 class="icon-text is-size-4 icon-text has-text-grey-dark">
          <span>お薬</span>
          <span class="icon is-flex is-align-items-center mx-2">
            <i class="fa-solid fa-capsules"></i>
          </span>
        </h1>
      </div>

      <div class="container is-max-desktop">
        <div
          class="media mx-6"
          th:each="medicineOverview:${medicineOverviews}"
          th:object="${medicineOverview}"
        >
          <div class="media-left">
            <a
              class="image is-96x96 is-clickable"
              th:href="@{/medicines/{medicineId}(medicineId=*{medicineId})}"
              th:if="*{medicineImageURL != null}"
            >
              <img th:src="*{medicineImageURL}" />
            </a>
            <a class="image is-96x96" th:if="*{medicineImageURL == null}">
              <img :src="noMedicineImage" />
            </a>
          </div>
          <div class="media-content">
            <div class="content has-text-grey-dark">
              <a
                class="is-info has-text-weight-bold is-underlined"
                th:href="@{/medicines/{medicineId}(medicineId=*{medicineId})}"
                th:text="*{medicineName}"
              ></a>
              <div
                class="has-text-right"
                th:object="${medicineOverview.dosageAndAdministration}"
              >
                <p class="mb-2" th:text="'1回 ' + *{dose} + *{takingUnit}"></p>
                <p class="mb-2" th:if="*{!timingOptions.isEmpty()}">
                  <span th:text="'1日 ' + *{timesPerDay} + '回'"></span>
                  (
                  <span
                    th:each="timing:*{timingOptions}"
                    th:text=" ${timing.str}"
                  ></span>
                  )
                </p>
              </div>
              <div class="tags mt-2 mb-0">
                <span
                  class="tag is-warning is-rounded has-text-weight-bold"
                  th:each="effect:*{effects.values}"
                  th:text="${effect}"
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom-fullwidth">
        <div class="tabs is-fullwidth has-background-info-light">
          <ul class="m-0">
            <li>
              <a class="px-0 py-5" th:href="@{/medicines/register}">
                <p class="button is-medium is-link is-rounded is-outlined">
                  <span
                    class="icon fas fa-lg is-flex is-align-items-center mr-0"
                  >
                    <i class="fa-solid fa-plus"></i>
                  </span>
                  <span class="is-size-6 has-text-weight-bold">
                    お薬を登録する
                  </span>
                </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
