<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
    <script th:src="@{/dist/js/medicineForm.bundle.js}" defer></script>
  </head>

  <body>
    <div id="medicineForm" layout:fragment="content">
      <div class="content has-text-centered">
        <p class="icon-text is-size-4 is-flex is-justify-content-center">
          <strong class="has-text-grey-dark">お薬登録</strong>
          <span class="icon has-text-grey-dark mx-2">
            <i class="fa-solid fa-capsules"></i>
          </span>
        </p>
      </div>
      <div class="container is-max-desktop p-3">
        <form method="post" class="form" th:action="@{/medicines/register}">
          <div
            th:replace="~{fragments/medicineBasicInfoForm::macro(${form})}"
          ></div>

          <medicine-owner
            th:attr="':is-want-to-own'=${isWantToOwn}, ':is-public'=${form.isPublic}"
            th:if="${isParticipatingInSharedGroup}"
          ></medicine-owner>

          <div class="field is-grouped is-grouped-centered my-3">
            <p class="control">
              <button class="button is-rounded is-link">完了</button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
