<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  class="has-navbar-fixed-top has-background-info-light"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>お薬日記</title>
    <meta
      name="description"
      content="「お薬日記」は、お薬の服用記録アプリです。お薬を服用したときに、時間や症状の変化をサクッと入力するだけ。カレンダー表示機能やお薬情報登録機能もあるから、記録も管理もラクラク。お薬日記は、あなたの健康な生活をお手伝いします！"
    />
    <link rel="icon" th:href="@{/images/favicon.ico}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.4.2/css/all.css"
    />

    <link th:href="@{/dist/css/vendor.bundle.css}" rel="stylesheet" />
  </head>

  <body>
    <div class="hero is-fullheight-with-navbar max">
      <header id="header" class="hero-head">
        <navbar
          th:attr="':is-authenticated'=${#authorization.expression('isAuthenticated()')}, csrf=${_csrf.token}"
        ></navbar>
        <result-message
          th:attr="type=${resultMessage.type}, message=${resultMessage.message}, details=${resultMessage.details}?:''"
          th:if="${resultMessage!=null}"
        ></result-message>
      </header>

      <main
        class="hero-body has-background-info-light is-flex is-align-items-flex-start py-5"
      >
        <div class="container is-widescreen">
          <div layout:fragment="content"></div>
        </div>
      </main>
      <footer class="hero-footer has-text-centered py-3">
        <div th:replace="~{fragments/footer::macro}"></div>
      </footer>
    </div>

    <script th:src="@{/dist/js/vendor.bundle.js}"></script>
  </body>
</html>