<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layoutWithFooter}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
    <script th:src="@{/dist/js/profileEdit.bundle.js}" defer></script>
  </head>

  <body>
    <div id="profileEdit" layout:fragment="content">
      <div class="container is-max-desktop p-3">
        <div class="content has-text-centered">
          <p class="icon-text is-size-4 is-flex is-justify-content-center">
            <strong class="has-text-grey-dark">プロフィール編集</strong>
            <span class="icon has-text-grey-dark mx-2">
              <i class="fa-solid fa-address-card"></i>
            </span>
          </p>
        </div>

        <editable-profile
          th:attr="username=${profile.username}, profile-image=${profile.profileImageURL}, csrf=${_csrf.token}"
        ></editable-profile>
      </div>
    </div>
  </body>
</html>
