.bottom-fullwidth {
  position: fixed;
  left: 0;
  bottom: 2.5rem;
  width: 100%;
  z-index: 1;
}

.underline-marker {
  background: linear-gradient(transparent 75%, #ffea99 0%);
  display: inline;
  padding: 2px 5px;
}

[v-clock] {
  display: none;
}
