.bottom-right-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.0rem;
}

.bottom-fullwidth {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

[v-clock] {
  display: none;
}

.opacity {
  opacity: 0.3;
}

.underline-marker {
  background: linear-gradient(transparent 75%, #ffea99 0%);
  display: inline;
  padding: 2px 5px;
}