.bottom-right-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1.0rem;
}

.bottom-fullwidth {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

[v-clock] {
  display: none;
}

.opacity {
  opacity: 0.3;
}

.underline-marker {
  background: linear-gradient(transparent 75%, #ffea99 0%);
  display: inline;
  padding: 2px 5px;
}

.circle-button {
  display: inline-block;
  text-decoration: none;
  background: #3273dc;
  color: #fff;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: 0.4s;
}

.circle-button:hover {
  background: #215fc4;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-text {
  animation: blink 5s infinite;
}