<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="example.infrastructure.query.user.UserMapper">
    <select id="findManyByKeyword" resultMap="UserResultMap">
        SELECT
            account_id,
            username,
            profile_image_url_endpoint,
            profile_image_url_path,
            CHAR_LENGTH(username) AS username_size
        FROM
            profiles
        WHERE
            account_id != #{accountId} AND username LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY
            username_size ASC
        LIMIT 100
    </select>

    <resultMap id="UserResultMap" type="example.application.query.shared.type.User">
        <constructor>
            <idArg column="account_id" javaType="AccountId" resultMap="AccountIdResultMap"/>
            <arg column="username" javaType="Username" resultMap="UsernameResultMap"/>
            <arg column="{profile_image_url_endpoint, profile_image_url_path}" javaType="ProfileImageURL" resultMap="ProfileImageURLResultMap"/>
        </constructor>
    </resultMap>
    <resultMap id="AccountIdResultMap" type="AccountId">
        <constructor>
            <idArg column="account_id" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="UsernameResultMap" type="Username">
        <constructor>
            <idArg column="username" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="ProfileImageURLResultMap" type="ProfileImageURL">
        <constructor>
            <idArg column="profile_image_url_endpoint" javaType="String"/>
            <idArg column="profile_image_url_path" javaType="String"/>
        </constructor>
    </resultMap>
</mapper>