<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="example.infrastructure.query.medicationrecord.JSONMedicationRecordMapper">
    <select id="countByAccountIdsAndMedicineIdsAndRecorderAt" resultType="_long">
        SELECT
            COUNT(*)
        FROM
            <include refid="AllTables"/>
        WHERE
            <include refid="Filtering"/>;
    </select>

    <select id="findAllByAccountIdsAndMedicineIdsAndRecorderAt" resultMap="JSONMedicationRecordResultMap">
        SELECT
            <include refid="AllColumns"/>
        FROM
            <include refid="AllTables"/>
        WHERE
            <include refid="Filtering"/>
        ORDER BY
            TIMESTAMP(taken_medicine_on, taken_medicine_at) DESC
        LIMIT
            #{pageSize}
        OFFSET
            #{offset};
    </select>

    <sql id="AllColumns">
        medication_records.medication_record_id AS medication_record_id,
        medication_records.recorder AS recorder,
        medication_records.symptom AS symptom,
        medication_records.before_medication AS before_medication,
        medication_records.after_medication AS after_medication,
        medication_records.note AS note,
        DATE_FORMAT(medication_records.taken_medicine_on, '%Y/%m/%d') AS taken_medicine_on,
        TIME_FORMAT(medication_records.taken_medicine_at, '%H:%i') AS taken_medicine_at,
        TIME_FORMAT(medication_records.symptom_onset_at, '%H:%i') AS symptom_onset_at,
        TIME_FORMAT(medication_records.onset_effect_at, '%H:%i') AS onset_effect_at,
        medicines.medicine_id AS medicine_id,
        medicines.medicine_name AS medicine_name,
        CONCAT(medication_records.quantity, medicines.dose_unit) AS dose,
        profiles.account_id,
        profiles.username,
        CONCAT(profile_image_url_endpoint, profile_image_url_path) AS profile_image_url,
        profiles.account_id = #{requester} AS is_recorded_by_self
    </sql>

    <sql id="AllTables">
        medication_records
        LEFT OUTER JOIN medicines ON medication_records.taken_medicine = medicines.medicine_id
        LEFT OUTER JOIN profiles ON medication_records.recorder = profiles.account_id
    </sql>

    <sql id="Filtering">
        <if test="!accountIds.isEmpty()">
            <foreach collection="accountIds" item="accountId" open="recorder IN (" separator="," close=")">
                  #{accountId}
            </foreach>
        </if>
        <if test="!medicineIds.isEmpty()">
            <foreach collection="medicineIds" item="medicineId" open="AND medicine_id IN (" separator="," close=")">
                  #{medicineId}
            </foreach>
        </if>
        <choose>
            <when test="start != null and end == null">
                AND taken_medicine_on <![CDATA[ >= ]]> #{start}
            </when>
            <when test="start == null and end != null">
                AND taken_medicine_on <![CDATA[ <= ]]> #{end}
            </when>
            <when test="start != null and end != null">
                AND taken_medicine_on BETWEEN #{start} AND #{end}
            </when>
        </choose>
    </sql>

    <resultMap id="JSONMedicationRecordResultMap" type="example.application.query.medicationrecord.JSONMedicationRecord">
        <constructor>
            <idArg column="medication_record_id" javaType="String"/>
            <arg column="{medicine_id, medicine_name, dose}"
                 javaType="example.application.query.medicationrecord.JSONTakenMedicine" resultMap="JSONTakenMedicineResultMap"/>
            <arg column="{symptom, before_medication, after_medication}"
                 javaType="example.application.query.medicationrecord.JSONFollowUp" resultMap="JSONFollowUpResultMap"/>
            <arg column="note" javaType="String"/>
            <arg column="taken_medicine_on" javaType="String"/>
            <arg column="taken_medicine_at" javaType="String"/>
            <arg column="symptom_onset_at" javaType="String"/>
            <arg column="onset_effect_at" javaType="String"/>
            <arg column="{account_id, username, profile_image_url}"
                 javaType="example.application.query.user.JSONUser" resultMap="JSONUserResultMap"/>
            <arg column="is_recorded_by_self" javaType="_boolean"/>
        </constructor>
    </resultMap>

    <resultMap id="JSONTakenMedicineResultMap" type="example.application.query.medicationrecord.JSONTakenMedicine">
        <constructor>
            <idArg column="medicine_id" javaType="String"/>
            <idArg column="medicine_name" javaType="String"/>
            <idArg column="dose" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="JSONFollowUpResultMap" type="example.application.query.medicationrecord.JSONFollowUp">
        <constructor>
            <arg column="symptom" javaType="String"/>
            <arg column="before_medication" javaType="ConditionLevel"/>
            <arg column="after_medication" javaType="ConditionLevel"/>
        </constructor>
    </resultMap>
    <resultMap id="JSONUserResultMap" type="example.application.query.user.JSONUser">
        <constructor>
            <idArg column="account_id" javaType="String"/>
            <arg column="username" javaType="String"/>
            <arg column="profile_image_url" javaType="String"/>
        </constructor>
    </resultMap>
</mapper>