<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="example.infrastructure.repository.medicine.MedicineMapper">
    <select id="findOneByMedicineId" resultMap="MedicineEntityResultMap">
        SELECT
            <include refid="AllColumns"/>
        FROM
            medicines
            LEFT OUTER JOIN effects USING(medicine_id)
            LEFT OUTER JOIN timing_options USING(medicine_id)
        WHERE
            medicine_id = #{medicineId};
    </select>

    <select id="findAllByAccountId" resultMap="MedicineEntityResultMap">
        SELECT
            <include refid="AllColumns"/>
        FROM
            medicines
            LEFT OUTER JOIN effects USING(medicine_id)
            LEFT OUTER JOIN timing_options USING(medicine_id)
        WHERE
            owner = #{accountId}
        ORDER BY
            registered_at DESC;
    </select>

    <insert id="insertOneMedicine">
        INSERT INTO medicines(
            medicine_id,
            owner,
            name,
            quantity,
            taking_unit,
            times_per_day,
            precautions,
            registered_at
        )VALUES(
            #{medicineId},
            #{owner},
            #{name},
            #{quantity},
            #{takingUnit},
            #{timesPerDay},
            #{precautions},
            #{registeredAt}
        );
    </insert>
    <insert id="insertAllTimingOptions">
        INSERT INTO timing_options(
            medicine_id,
            ordering,
            timing_option
        )VALUES
            <foreach collection="timingOptions" item="item" separator=",">
                (#{medicineId}, #{item.ordering}, #{item.value})
            </foreach>
        ;
    </insert>
    <insert id="insertAllEffects">
        INSERT INTO effects(
            medicine_id,
            ordering,
            effect
        )VALUES
            <foreach collection="effects" item="item" separator=",">
                (#{medicineId}, #{item.ordering}, #{item.value})
            </foreach>
        ;
    </insert>

    <delete id="deleteOneMedicine">
        DELETE FROM medicines
        WHERE medicine_id = #{medicineId};
    </delete>

    <delete id="deleteAllTimingOptions">
        DELETE FROM timing_options
        WHERE medicine_id = #{medicineId};
    </delete>

    <delete id="deleteAllEffects">
        DELETE FROM effects
        WHERE medicine_id = #{medicineId};
    </delete>

    <sql id="AllColumns">
        medicines.medicine_id AS medicine_id,
        medicines.owner AS owner,
        medicines.name AS name,
        medicines.quantity AS quantity,
        medicines.taking_unit AS taking_unit,
        medicines.times_per_day AS times_per_day,
        medicines.precautions AS precautions,
        medicines.registered_at AS registered_at,
        effects.ordering AS effect_ordering,
        effects.effect AS effect,
        timing_options.ordering AS timing_option_ordering,
        timing_options.timing_option AS timing_option
    </sql>

    <resultMap id="MedicineEntityResultMap" type="example.infrastructure.repository.medicine.MedicineResultEntity">
        <constructor>
            <idArg column="medicine_id" javaType="MedicineId" resultMap="MedicineIdResultMap"/>
            <arg column="owner" javaType="AccountId" resultMap="OwnerResultMap"/>
            <arg column="name" javaType="String"/>
            <arg column="{quantity, taking_unit}" javaType="Dosage" resultMap="DosageResultMap"/>
            <arg column="times_per_day" javaType="_int"/>
            <arg column="precautions" javaType="Note" resultMap="NoteResultMap"/>
            <arg column="registered_at" javaType="java.time.LocalDateTime"/>
        </constructor>
        <id column="medicine_id"/>
        <association column="{timing_option_ordering, timing_option}" property="timingOptions"
                     javaType="example.infrastructure.repository.shared.OrderedEntity" resultMap="TimingOptionOrderedEntityResultMap"/>
        <association column="{effect_ordering, effect}" property="effects"
                     javaType="example.infrastructure.repository.shared.OrderedEntity" resultMap="EffectOrderedEntityResultMap"/>
    </resultMap>
    <resultMap id="MedicineIdResultMap" type="MedicineId">
        <constructor>
            <idArg column="medicine_id" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="OwnerResultMap" type="AccountId">
        <constructor>
            <idArg column="owner" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="DosageResultMap" type="Dosage">
        <constructor>
            <idArg column="quantity" javaType="_double"/>
            <arg column="taking_unit" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="NoteResultMap" type="Note">
        <constructor>
            <idArg column="precautions" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="TimingOptionOrderedEntityResultMap" type="example.infrastructure.repository.shared.OrderedEntity">
        <constructor>
            <idArg column="timing_option_ordering" javaType="_int"/>
            <arg column="timing_option" resultMap="TimingResultMap"/>
        </constructor>
    </resultMap>
    <resultMap id="EffectOrderedEntityResultMap" type="example.infrastructure.repository.shared.OrderedEntity">
        <constructor>
            <idArg column="effect_ordering" javaType="_int"/>
            <arg column="effect" resultMap="EffectResultMap"/>
        </constructor>
    </resultMap>
    <resultMap id="TimingResultMap" type="Timing">
        <constructor>
            <idArg column="timing_option" javaType="Timing"/>
        </constructor>
    </resultMap>
    <resultMap id="EffectResultMap" type="String">
        <constructor>
            <idArg column="effect" javaType="String"/>
        </constructor>
    </resultMap>
</mapper>