<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="example.infrastructure.repository.medicine.MedicineMapper">
    <select id="findOneByMedicineId" resultMap="MedicineResultEntityResultMap">
        SELECT
            <include refid="AllColumns"/>
        FROM
            medicines
            LEFT OUTER JOIN effects USING(medicine_id)
            LEFT OUTER JOIN timing_options USING(medicine_id)
        WHERE
            medicine_id = #{medicineId};
    </select>

    <select id="findAllByAccountId" resultMap="MedicineResultEntityResultMap">
        SELECT
            <include refid="AllColumns"/>
        FROM
            medicines
            LEFT OUTER JOIN effects USING(medicine_id)
            LEFT OUTER JOIN timing_options USING(medicine_id)
        WHERE
            account_id = #{accountId};
    </select>

    <select id="findAllBySharedGroupId" resultMap="MedicineResultEntityResultMap">
        SELECT
            <include refid="AllColumns"/>
        FROM
            medicines
            LEFT OUTER JOIN effects USING(medicine_id)
            LEFT OUTER JOIN timing_options USING(medicine_id)
        WHERE
            shared_group_id = #{sharedGroupId};
    </select>

    <insert id="upsertOneMedicine">
        INSERT INTO medicines(
            medicine_id,
            account_id,
            shared_group_id,
            medicine_name,
            quantity,
            taking_unit,
            times_per_day,
            precautions,
            medicine_image_url_endpoint,
            medicine_image_url_path,
            is_public,
            registered_at
        )VALUES(
            #{medicineId},
            #{accountId, jdbcType=VARCHAR},
            #{sharedGroupId, jdbcType=VARCHAR},
            #{medicineName},
            #{quantity},
            #{takingUnit},
            #{timesPerDay},
            #{precautions},
            #{medicineImageURLEndpoint, jdbcType=VARCHAR},
            #{medicineImageURLPath, jdbcType=VARCHAR},
            #{isPublic},
            #{registeredAt}
        )ON DUPLICATE KEY UPDATE
            medicine_name = #{medicineName},
            quantity = #{quantity},
            taking_unit = #{takingUnit},
            times_per_day = #{timesPerDay},
            precautions = #{precautions},
            medicine_image_url_endpoint = #{medicineImageURLEndpoint, jdbcType=VARCHAR},
            medicine_image_url_path = #{medicineImageURLPath, jdbcType=VARCHAR},
            is_public = #{isPublic};
    </insert>
    <insert id="insertAllTimingOptions">
        INSERT INTO timing_options(
            medicine_id,
            ordering,
            timing_option
        )VALUES
            <foreach collection="timingOptions" item="item" separator=",">
                (#{medicineId}, #{item.ordering}, #{item.value})
            </foreach>
        ;
    </insert>
    <insert id="insertAllEffects">
        INSERT INTO effects(
            medicine_id,
            ordering,
            effect
        )VALUES
            <foreach collection="effects" item="item" separator=",">
                (#{medicineId}, #{item.ordering}, #{item.value})
            </foreach>
        ;
    </insert>

    <delete id="deleteOneMedicine">
        DELETE FROM medicines
        WHERE medicine_id = #{medicineId};
    </delete>

    <delete id="deleteAllTimingOptions">
        DELETE FROM timing_options
        WHERE medicine_id = #{medicineId};
    </delete>

    <delete id="deleteAllEffects">
        DELETE FROM effects
        WHERE medicine_id = #{medicineId};
    </delete>

    <sql id="AllColumns">
        medicines.medicine_id AS medicine_id,
        medicines.account_id AS account_id,
        medicines.shared_group_id AS shared_group_id,
        medicines.medicine_name AS medicine_name,
        medicines.quantity AS quantity,
        medicines.taking_unit AS taking_unit,
        medicines.times_per_day AS times_per_day,
        medicines.precautions AS precautions,
        medicines.medicine_image_url_endpoint AS medicine_image_url_endpoint,
        medicines.medicine_image_url_path AS medicine_image_url_path,
        medicines.is_public AS is_public,
        medicines.registered_at AS registered_at,
        effects.ordering AS effect_ordering,
        effects.effect AS effect,
        timing_options.ordering AS timing_option_ordering,
        timing_options.timing_option AS timing_option
    </sql>

    <resultMap id="MedicineResultEntityResultMap" type="example.infrastructure.repository.medicine.MedicineResultEntity">
        <constructor>
            <idArg column="medicine_id" javaType="MedicineId" resultMap="MedicineIdResultMap"/>
            <arg column="{account_id, shared_group_id}" javaType="MedicineOwner" resultMap="MedicineOwnerResultMap"/>
            <arg column="medicine_name" javaType="MedicineName" resultMap="MedicineNameResultMap"/>
            <arg column="quantity" javaType="Dose" resultMap="DoseResultMap"/>
            <arg column="taking_unit" javaType="String"/>
            <arg column="times_per_day" javaType="_int"/>
            <arg column="precautions" javaType="Note" resultMap="NoteResultMap"/>
            <arg column="{medicine_image_url_endpoint, medicine_image_url_path}" javaType="MedicineImageURL" resultMap="MedicineImageURLResultMap"/>
            <arg column="is_public" javaType="_boolean"/>
            <arg column="registered_at" javaType="java.time.LocalDateTime"/>
        </constructor>
        <id column="medicine_id"/>
        <association column="{timing_option_ordering, timing_option}" property="timingOptions"
                     javaType="example.infrastructure.repository.shared.OrderedEntity" resultMap="TimingOptionOrderedEntityResultMap"/>
        <association column="{effect_ordering, effect}" property="effects"
                     javaType="example.infrastructure.repository.shared.OrderedEntity" resultMap="EffectOrderedEntityResultMap"/>
    </resultMap>
    <resultMap id="MedicineIdResultMap" type="MedicineId">
        <constructor>
            <idArg column="medicine_id" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="MedicineNameResultMap" type="MedicineName">
        <constructor>
            <idArg column="medicine_name" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="MedicineOwnerResultMap" type="MedicineOwner">
        <constructor>
            <arg column="account_id" javaType="AccountId" resultMap="AccountIdResultMap"/>
            <arg column="shared_group_id" javaType="SharedGroupId" resultMap="SharedGroupIdResultMap"/>
        </constructor>
    </resultMap>
    <resultMap id="AccountIdResultMap" type="AccountId">
        <constructor>
            <idArg column="account_id" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="SharedGroupIdResultMap" type="SharedGroupId">
        <constructor>
            <idArg column="shared_group_id" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="DoseResultMap" type="Dose">
        <constructor>
            <idArg column="quantity" javaType="_double"/>
        </constructor>
    </resultMap>
    <resultMap id="NoteResultMap" type="Note">
        <constructor>
            <idArg column="precautions" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="MedicineImageURLResultMap" type="MedicineImageURL">
        <constructor>
            <idArg column="medicine_image_url_endpoint" javaType="String"/>
            <idArg column="medicine_image_url_path" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="TimingOptionOrderedEntityResultMap" type="example.infrastructure.repository.shared.OrderedEntity">
        <constructor>
            <idArg column="timing_option_ordering" javaType="_int"/>
            <arg column="timing_option" resultMap="TimingResultMap"/>
        </constructor>
    </resultMap>
    <resultMap id="EffectOrderedEntityResultMap" type="example.infrastructure.repository.shared.OrderedEntity">
        <constructor>
            <idArg column="effect_ordering" javaType="_int"/>
            <arg column="effect" resultMap="EffectResultMap"/>
        </constructor>
    </resultMap>
    <resultMap id="TimingResultMap" type="Timing">
        <constructor>
            <idArg column="timing_option" javaType="Timing"/>
        </constructor>
    </resultMap>
    <resultMap id="EffectResultMap" type="String">
        <constructor>
            <idArg column="effect" javaType="String"/>
        </constructor>
    </resultMap>
</mapper>