<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <div th:fragment="macro" th:remove="tag">
      <div class="content has-text-left p-3 my-3">
        <div class="tile is-ancestor">
          <div class="tile is-9 is-vertical is-parent">
            <div class="tile is-child is-hidden-tablet">
              <p class="mb-1">
                <strong class="underline-marker is-size-4 has-text-link-dark">
                  お薬を服用したとき、
                </strong>
              </p>
              <p class="mb-0">
                <span>　　</span>
                <strong class="underline-marker is-size-4 has-text-link-dark">
                  記録を残していますか？
                </strong>
              </p>
            </div>
            <div class="tile is-child is-hidden-mobile">
              <strong class="underline-marker is-size-4 has-text-link-dark">
                お薬を服用したとき、記録を残していますか？
              </strong>
            </div>
            <div class="tile is-child px-2">
              <span class="block has-text-weight-semibold">
                日々のお薬や体調の記録は、より適切な治療法を見つけるカギとなります。<br />
              </span>
              <span class="block has-text-weight-semibold">
                でも、手書きは手間がかかって管理も面倒ですよね。<br />
                『
                <strong class="is-size-5 has-text-info-dark"> お薬日記</strong>
                』なら、お薬を服用したときにサクッと入力するだけ！<br />
                いつでもどこでも手軽に記録が確認できます。
              </span>
              <span class="block has-text-weight-semibold">
                カンタン操作で、健康状態をらくらく見える化する 『
                <strong class="is-size-5 has-text-info-dark"> お薬日記 </strong>
                』 。<br />
                あなたも始めてみませんか？
              </span>
            </div>
          </div>
          <div class="tile is-parent">
            <div
              class="tile is-child is-flex is-justify-content-center is-align-items-flex-end"
            >
              <figure class="image is-128x128">
                <img
                  th:src="${@environment.getProperty('application.endpoint.image')} + '/illustration/inspiration.png'"
                  alt=""
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="content p-3">
        <p class="my-5 has-text-left">
          <strong class="underline-marker is-size-4 has-text-link">
            お薬日記でできること
          </strong>
        </p>
        <div class="tile is-ancestor px-3">
          <div class="tile is-parent">
            <div class="tile is-child notification has-background-white p-3">
              <div class="is-flex is-justify-content-center">
                <figure class="image is-128x128 m-0 pt-3">
                  <img
                    th:src="${@environment.getProperty('application.endpoint.image')} + '/illustration/medicines.png'"
                    alt="medicines"
                  />
                </figure>
              </div>
              <strong class="underline-marker has-text-link">
                お薬情報を簡単登録
              </strong>
              <p class="is-size-7 has-text-weight-semibold has-text-left p-3">
                お薬の名前や使い方など、詳細な情報を登録して、まとめて管理できます。
                写真も設定できるので、お薬の種類が一目でわかります。
              </p>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile is-child notification has-background-white p-3">
              <div class="is-flex is-justify-content-center">
                <figure class="image is-128x128 m-0 pt-3">
                  <img
                    th:src="${@environment.getProperty('application.endpoint.image')} + '/illustration/shopping.png'"
                    alt="shopping"
                  />
                </figure>
              </div>
              <strong class="underline-marker has-text-link">
                在庫を管理
              </strong>
              <p class="is-size-7 has-text-weight-semibold has-text-left p-3">
                お薬には、必要に応じて在庫情報を設定できます。
                いつでもどこでも在庫状況が確認できるので、必要な時に不足したり余分に購入したりすることを防げます。
              </p>
            </div>
          </div>
        </div>
        <div class="tile is-ancestor px-3">
          <div class="tile is-parent">
            <div class="tile is-child notification has-background-white p-3">
              <div class="is-flex is-justify-content-center">
                <figure class="image is-128x128 m-0 pt-3">
                  <img
                    th:src="${@environment.getProperty('application.endpoint.image')} + '/illustration/writing.png'"
                    alt="writing"
                  />
                </figure>
              </div>
              <strong class="underline-marker has-text-link">
                服用したお薬を記録
              </strong>
              <p class="is-size-7 has-text-weight-semibold has-text-left p-3">
                服用したお薬とその効果などの情報を簡単に記録できます。
                服用した時間や体調の変化などを詳細に記録することで、健康状態が把握しやすくなります。
              </p>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile is-child notification has-background-white p-3">
              <div class="is-flex is-justify-content-center">
                <figure class="image is-128x128 m-0 pt-3">
                  <img
                    th:src="${@environment.getProperty('application.endpoint.image')} + '/illustration/calendar.png'"
                    alt="calendar"
                  />
                </figure>
              </div>
              <strong class="underline-marker has-text-link">
                カレンダーでお薬を服用した日を確認
              </strong>
              <p class="is-size-7 has-text-weight-semibold has-text-left p-3">
                お薬を服用した日をカレンダーでチェックできます。
                日付ごとに服用した記録が表示されるので、服用パターンが一目でわかります。
              </p>
            </div>
          </div>
        </div>
        <div class="tile is-ancestor px-3">
          <div class="tile is-parent">
            <div class="tile is-child notification has-background-white p-3">
              <div class="is-flex is-justify-content-center">
                <figure class="image is-128x128 mb-5 pt-3">
                  <img
                    th:src="${@environment.getProperty('application.endpoint.image')} + '/illustration/share.png'"
                    alt="share"
                  />
                </figure>
              </div>
              <strong class="underline-marker has-text-link">
                家族やパートナーと情報共有
              </strong>
              <p class="is-size-7 has-text-weight-semibold has-text-left p-3">
                お薬や服用記録を家族やパートナーと共有できます。
                お互いの健康状態を知り、理解し合うことで、安心感や絆が生まれ、ストレスや不安の軽減に繋がります。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
