<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <div th:fragment="macro" th:remove="tag">
      <div class="block">
        <p class="my-5">
          <strong class="underline-marker is-size-4 has-text-link"
            >お薬日記とは？
          </strong>
        </p>
        <p class="has-text-weight-semibold">
          お薬を服用した際、体調の変化や副作用を記録したことはありますか？<br />
          服用後の体の変化や感じたことを記録することで、薬の効果や健康状態について新たな気づきを得ることができます。<br />
          しかし、紙や手帳に記録するのは手間がかかりますし、管理も面倒ですよね。<br />
          お薬日記は、データを手軽に入力でき、いつでも簡単にアクセスできるため、継続的に記録するのに最適です。<br />
          ぜひ、お薬日記で記録を始めてみてください。
        </p>
      </div>
      <div class="block">
        <p class="my-5">
          <strong class="underline-marker is-size-4 has-text-link">
            お薬日記でなにができるの？
          </strong>
        </p>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="notification has-background-white p-5">
              <div class="is-flex is-justify-content-center">
                <figure class="image is-128x128 m-0">
                  <img
                    th:src="${@environment.getProperty('endpoint.image')} + '/medicines/illustration.png'"
                    alt="medicines"
                  />
                </figure>
              </div>
              <strong class="underline-marker has-text-link">
                お薬情報を簡単登録
              </strong>
              <p
                class="is-size-7 has-text-weight-semibold has-text-left py-3 px-0"
              >
                お薬の名前や使い方など、詳細な情報を簡単に登録して管理できます。
                写真も追加できるので、お薬の見た目も視覚的に確認できます。
              </p>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="notification has-background-white p-5">
              <div class="is-flex is-justify-content-center">
                <figure class="image is-128x128 m-0">
                  <img
                    th:src="${@environment.getProperty('endpoint.image')} + '/illustration/shopping.png'"
                    alt="shopping"
                  />
                </figure>
              </div>
              <strong class="underline-marker has-text-link">
                在庫を管理して購入のタイミングを把握
              </strong>
              <p
                class="is-size-7 has-text-weight-semibold has-text-left py-3 px-0"
              >
                お薬には、必要に応じて在庫情報を設定することができます。
                在庫状況がいつでも確認できるので、必要な時に不足してしまったり、余分に買ってしまったりするのを防ぐことができます。
              </p>
            </div>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="notification has-background-white p-5">
              <div class="is-flex is-justify-content-center">
                <figure class="image is-128x128 m-0">
                  <img
                    th:src="${@environment.getProperty('endpoint.image')} + '/illustration/writing.png'"
                    alt="writing"
                  />
                </figure>
              </div>
              <strong class="underline-marker has-text-link">
                お薬の効果や変化を記録して体調管理
              </strong>
              <p
                class="is-size-7 has-text-weight-semibold has-text-left py-3 px-0"
              >
                服用したお薬に関する情報を記録できます。
                お薬を服用した時間や効果などを記録することで、体の変化が把握しやすくなります。
              </p>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="notification has-background-white p-5">
              <div class="is-flex is-justify-content-center">
                <figure class="image is-128x128 m-0">
                  <img
                    th:src="${@environment.getProperty('endpoint.image')} + '/illustration/calendar.png'"
                    alt="calendar"
                  />
                </figure>
              </div>
              <strong class="underline-marker has-text-link">
                カレンダーでお薬を服用した日を確認
              </strong>
              <p
                class="is-size-7 has-text-weight-semibold has-text-left py-3 px-0"
              >
                お薬を服用した日をカレンダーでチェックできます。
                日付ごとに服用した記録が表示されるので、服用パターンが一目でわかります。
              </p>
            </div>
          </div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="notification has-background-white p-5">
              <div class="is-flex is-justify-content-center">
                <figure class="image is-128x128 m-0">
                  <img
                    th:src="${@environment.getProperty('endpoint.image')} + '/illustration/share.png'"
                    alt="share"
                  />
                </figure>
              </div>
              <strong class="underline-marker has-text-link">
                家族やパートナーと情報を共有する
              </strong>
              <p
                class="is-size-7 has-text-weight-semibold has-text-left py-3 px-0"
              >
                お薬や服用記録を家族やパートナーと共有できます。
                お互いの健康状態を知り、理解し合うことで、安心感や絆が生まれ、ストレスや不安の軽減に繋がります。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>