<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <div th:fragment="macro(medicineOverviews)" th:remove="tag">
      <div th:if="${!medicineOverviews.isEmpty()}">
        <div
          class="media is-flex is-align-items-center p-3 m-0"
          th:each="medicineOverview:${medicineOverviews}"
          th:object="${medicineOverview}"
        >
          <div class="media-left">
            <p
              class="image is-96x96 is-clickable m-0"
              th:if="*{medicineImageURL != null}"
              th:attr="'@click'=|activateMedicineImageModal('*{medicineImageURL}')|"
            >
              <img th:src="*{medicineImageURL}" />
            </p>
            <p class="image is-96x96 mx-3" th:if="*{medicineImageURL == null}">
              <img :src="noMedicineImage" />
            </p>
          </div>
          <div class="media-content has-text-grey-dark">
            <a
              class="has-text-info has-text-weight-bold is-underlined"
              th:href="@{/medicines/{medicineId}(medicineId=*{medicineId})}"
              th:text="*{medicineName}"
            ></a>
            <span class="icon mx-1" th:if="*{!isPublic}">
              <i class="fa-solid fa-lock"></i>
            </span>
            <p class="tags has-text-right m-1">
              <span
                class="tag is-warning is-rounded has-text-weight-bold"
                th:each="effect:*{effects.values}"
                th:text="${effect}"
              ></span>
            </p>
          </div>
        </div>

        <div class="modal" :class="{ 'is-active': isMedicineImageModalActive }">
          <div
            class="modal-background"
            @click="isMedicineImageModalActive = false"
          ></div>
          <div class="modal-content is-flex is-justify-content-center m-0">
            <img :src="selectedMedicineImageURL" style="max-height: 300px" />
            <div class="ml-2">
              <button
                class="delete"
                type="button"
                @click="isMedicineImageModalActive = false"
              ></button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="content has-text-centered p-5"
        th:if="${medicineOverviews.isEmpty()}"
      >
        <p class="has-text-weight-bold has-text-grey">
          お薬が登録されていません。
        </p>
      </div>
    </div>
  </body>
</html>
