<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <div th:fragment="macro(sharedGroup)" th:remove="tag">
      <div
        class="has-text-centered mx-2"
        th:each="member:${sharedGroup.members}"
      >
        <div class="is-flex is-justify-content-center">
          <figure class="image is-48x48 m-1">
            <img
              class="is-rounded"
              th:src="${member.profileImageURL}"
              th:if="*{member.profileImageURL != null}"
            />
            <img
              class="is-rounded"
              :src="noProfileImage"
              th:if="*{member.profileImageURL == null}"
            />
          </figure>
        </div>
        <p
          class="has-text-weight-bold has-text-grey-dark m-0"
          th:text="${member.username}"
        ></p>
      </div>
      <div
        class="has-text-centered mx-2"
        th:each="invitee:${sharedGroup.invitees}"
      >
        <p class="is-size-7 has-text-grey m-0">招待中</p>
        <div class="is-flex is-justify-content-center">
          <figure class="image is-48x48 m-1">
            <img
              class="is-rounded"
              th:src="${invitee.profileImageURL}"
              th:if="*{invitee.profileImageURL != null}"
            />
            <img
              class="is-rounded"
              :src="noProfileImage"
              th:if="*{invitee.profileImageURL == null}"
            />
          </figure>
        </div>
        <p
          class="has-text-weight-bold has-text-grey-dark m-0"
          th:text="${invitee.username}"
        ></p>
      </div>
    </div>
  </body>
</html>