<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layoutWithFooter}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
    <script th:src="@{/dist/js/about.bundle.js}" defer></script>
  </head>

  <body>
    <div id="about" layout:fragment="content">
      <div class="container has-text-centered is-max-desktop p-3">
        <div th:replace="~{fragments/about::macro}"></div>
      </div>
    </div>
  </body>
</html>
