<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  class="has-navbar-fixed-top has-background-info-light"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>お薬日記</title>
    <meta
      name="description"
      content="お薬日記は、お薬や服用したお薬の記録を家族やパートナーと共有することができる Web アプリケーションです。"
    />
    <link rel="icon" th:href="@{/images/favicon.ico}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.4.2/css/all.css"
    />
    <script th:src="@{/dist/js/vendor.bundle.js}" defer></script>
    <script th:src="@{/dist/js/home.bundle.js}" defer></script>

    <link rel="stylesheet" th:href="@{/dist/css/style.bundle.css}" />
  </head>

  <body>
    <div id="home" sec:authorize="isAuthenticated()">
      <div class="hero is-fullheight-with-navbar">
        <header id="header" class="hero-head">
          <navbar
            th:attr="':is-authenticated'=${#authorization.expression('isAuthenticated()')}, csrf=${_csrf.token}"
          ></navbar>
          <resultmessage
            th:attr="type=${resultMessage.type}, message=${resultMessage.message}, details=${resultMessage.details}?:''"
            th:if="${resultMessage!=null}"
          ></resultmessage>
        </header>
        <main
          class="hero-body has-background-info-light is-flex is-align-items-flex-start py-5"
        >
          <div class="container is-widescreen"></div>
        </main>
      </div>
    </div>

    <div
      id="home"
      class="hero is-fullheight-with-navbar"
      sec:authorize="!isAuthenticated()"
    >
      <header class="hero-head">
        <div class="navbar is-fixed-top has-background-info-dark"></div>
        <resultmessage
          th:attr="type=${resultMessage.type}, message=${resultMessage.message}, details=${resultMessage.details}?:''"
          th:if="${resultMessage!=null}"
        ></resultmessage>
      </header>
      <div
        class="hero-body has-background-info-dark is-flex is-flex-direction-column p-0"
      >
        <div class="container has-text-centered py-5">
          <div class="is-flex is-justify-content-center pb-6 mb-6">
            <figure class="image">
              <img :src="logo" alt="logo" style="max-width: 350px" />
            </figure>
          </div>
        </div>
        <div class="container has-text-centered">
          <div class="content">
            <div
              class="button is-info is-light is-rounded"
              @click="isAccountRegistrationModalActive = true"
            >
              <strong
                class="px-5 has-text-link"
                @click="activateAccountRegistrationModal()"
              >
                お薬日記をはじめる
              </strong>
              <authentication ref="authentication"></authentication>
            </div>
          </div>
          <div class="notification has-background-info-light is-flex p-5">
            <div class="has-text-left">
              <p>
                <strong class="underline-marker is-size-4 has-text-link">
                  続けやすい健康の習慣、お薬日記で。
                </strong>
              </p>
              <p
                class="has-text-grey-dark has-text-weight-semibold pt-4 pb-0 px-2"
              >
                日々のお薬を記録して、体調の変化や気になることを簡単にメモできます。<br />
                お薬の情報管理や、在庫管理、家族との情報共有もラクラク。<br />
                健康な毎日を心地よく送るための一歩を、お薬日記がサポートします。
              </p>
            </div>
            <div class="has-text-centered">
              <a
                class="circle-button is-size-7 has-text-weight-bold has-text-white"
                href="/about"
              >
                お薬日記とは？
              </a>
              <p
                class="blinking-text has-text-danger-dark has-text-weight-bold"
              >
                CHECK!!
              </p>
            </div>
          </div>
        </div>
      </div>
      <footer
        class="hero-footer has-text-centered has-background-info-dark pb-5"
      >
        <a
          class="button is-size-7 has-text-info-light is-ghost"
          th:href="@{/service/agreement}"
        >
          利用規約
        </a>
      </footer>
    </div>
  </body>
</html>
