<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
    <script th:src="@{/dist/js/mypage.bundle.js}" defer></script>
  </head>

  <body>
    <div id="mypage" layout:fragment="content">
      <div class="container is-max-desktop p-3">
        <div class="columns is-vcentered p-3">
          <div class="column p-3">
            <div class="is-flex is-justify-content-center">
              <figure class="image is-128x128 m-2">
                <img
                  th:src="${profile.profileImageURL}"
                  class="is-rounded"
                  th:if="${profile.profileImageURL != null}"
                />
                <img
                  :src="noProfileImage"
                  class="is-rounded"
                  th:if="${profile.profileImageURL == null}"
                />
              </figure>
            </div>
            <p class="icon-text is-flex is-justify-content-center">
              <strong
                class="is-size-4 has-text-grey-dark"
                th:text="${profile.username}"
                th:if="${!profile.username.isDefaultValue()}"
              >
              </strong>
              <strong
                class="is-size-5 has-text-grey"
                th:if="${profile.username.isDefaultValue()}"
              >
                ( unknown )
              </strong>
              <span
                class="icon fas fa-lg has-text-link-dark is-clickable mx-1"
                @click="isMenuModalActive = true"
              >
                <i class="fa-solid fa-gear"></i>
              </span>
            </p>
          </div>
          <div
            class="column p-3 is-three-quarters"
            th:if="${participatingSharedGroup != null}"
          >
            <div
              class="notification has-background-white-bis has-text-left py-3 px-5"
            >
              <a
                class="has-text-weight-bold has-text-link"
                th:href="@{/sharedgroup/management}"
                >共有グループ</a
              >
              <div class="is-flex is-align-items-end">
                <div
                  th:replace="~{fragments/sharedGroup::macro(${participatingSharedGroup})}"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" :class="{ 'is-active': isMenuModalActive }">
        <div class="modal-background" @click="isMenuModalActive = false"></div>
        <div class="modal-content is-flex is-justify-content-center">
          <div class="content">
            <a
              class="button is-dark is-fullwidth is-small mb-1"
              th:href="@{/profile/edit}"
            >
              <strong class="mx-6">プロフィール編集</strong>
            </a>
            <a
              class="button is-dark is-fullwidth is-small mb-1"
              th:href="@{/sharedgroup/management}"
            >
              <strong class="mx-6">共有グループ管理</strong>
            </a>
            <form method="post" th:action="@{/logout}">
              <button class="button is-dark is-fullwidth is-small mb-1">
                <strong class="mx-6">ログアウト</strong>
              </button>
            </form>
            <button
              type="button"
              class="button is-dark is-fullwidth is-small has-text-danger mb-1"
              @click="isMenuModalActive = false"
            >
              <strong class="mx-6">キャンセル</strong>
            </button>
          </div>
        </div>
      </div>

      <div class="bottom-right-button">
        <a class="button is-rounded is-link" th:href="@{/takingrecords/add}">
          <p
            class="icon fas fa-lg has-text-white is-flex is-align-items-center is-medium"
          >
            <i class="fa-solid fa-pencil"></i>
          </p>
        </a>
      </div>
    </div>
  </body>
</html>