<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
  </head>

  <body>
    <div layout:fragment="content" th:remove="tag">
      <div class="content has-text-centered mb-3">
        <p class="is-size-4 has-text-weight-bold has-text-grey-dark">
          お知らせ
        </p>
      </div>

      <div class="container is-max-desktop p-3">
        <div class="media p-3 m-0">
          <div class="media-content columns has-text-grey-dark m-0">
            <p class="content">
              <strong class="is-size-7">2023.01.15</strong><br />
              <span>お薬を症状で検索する機能を追加しました。</span>
            </p>
          </div>
        </div>
        <div class="media p-3 m-0">
          <div class="media-content columns has-text-grey-dark m-0">
            <p class="content">
              <strong class="is-size-7">2023.01.11</strong><br />
              <span>【お薬日記】をリリースしました。</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>