<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
    <script th:src="@{/dist/js/sharedGroupManagement.bundle.js}" defer></script>
  </head>

  <body>
    <div id="sharedGroupManagement" layout:fragment="content">
      <div class="container has-text-centered is-max-desktop p-3">
        <div class="content has-text-centered">
          <p class="icon-text is-size-4 is-flex is-justify-content-center">
            <strong class="has-text-grey-dark">共有グループ管理</strong>
            <span class="icon has-text-grey-dark mx-2">
              <i class="fa-solid fa-user-group"></i>
            </span>
          </p>
        </div>

        <shared-group-management
          th:attr="csrf=${_csrf.token}"
        ></shared-group-management>
      </div>
    </div>
  </body>
</html>
