<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="example.infrastructure.db.query.user.JSONUserMapper">
    <select id="findOneByAccountId" resultMap="JSONUserResultMap">
        SELECT
            account_id,
            username,
            CONCAT(profile_image_url_endpoint, profile_image_url_path) AS profile_image_url
        FROM
            profiles
        WHERE
            account_id = #{accountId};
    </select>

    <select id="findManyByKeyword" resultMap="JSONUserResultMap">
        SELECT
            account_id,
            username,
            CONCAT(profile_image_url_endpoint, profile_image_url_path) AS profile_image_url,
            CHAR_LENGTH(username) AS username_size
        FROM
            profiles
        WHERE
            account_id != #{accountId}
            AND username != ''
            AND username LIKE CONCAT('%', REPLACE(REPLACE(#{keyword}, '!', '!!'), '%', '!%'), '%') ESCAPE '!'
        ORDER BY
            username_size ASC
        LIMIT 100
    </select>

    <select id="findAllBySharedGroupId" resultMap="JSONUserResultMap">
        SELECT
            profiles.account_id AS account_id,
            profiles.username AS username,
            CONCAT(profile_image_url_endpoint, profile_image_url_path) AS profile_image_url
        FROM
            members
            LEFT OUTER JOIN profiles ON members.member = profiles.account_id
        WHERE
            members.shared_group_id = #{sharedGroupId}
            AND members.member != #{accountId};
    </select>

    <resultMap id="JSONUserResultMap" type="example.application.query.user.JSONUser">
        <constructor>
            <idArg column="account_id" javaType="String"/>
            <arg column="username" javaType="String"/>
            <arg column="profile_image_url" javaType="String"/>
        </constructor>
    </resultMap>
</mapper>
