<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}"
>
  <head>
    <meta charset="UTF-8" th:remove="tag" />
  </head>

  <body>
    <div layout:fragment="content">
      <div class="content has-text-centered">
        <h1 class="icon-text is-size-4 has-text-grey-dark">
          <span th:text="${title}"></span>
          <span class="icon is-flex is-align-items-center mx-2">
            <i class="fa-solid fa-capsules"></i>
          </span>
        </h1>
      </div>

      <div class="container is-max-desktop">
        <form
          method="post"
          class="form"
          th:action="@{__${executePath}__}"
          th:object="${form}"
        >
          <div class="field is-horizontal my-3">
            <div class="field-label is-flex is-align-items-center">
              <label class="label has-text-grey">お薬</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div
                    class="select is-rounded is-fullwidth"
                    th:classappend="${#fields.hasErrors('takenMedicine')} ? is-danger : is-info"
                  >
                    <select name="takenMedicine">
                      <option value="">-----</option>
                      <option
                        th:each="medicine:${medicines}"
                        th:value="${medicine.key}"
                        th:text="${medicine.value}"
                        th:selected="(${medicine.key} == *{takenMedicine})"
                      ></option>
                    </select>
                  </div>
                  <span
                    class="help is-danger"
                    th:if="${#fields.hasErrors('takenMedicine')}"
                    th:errors="*{takenMedicine}"
                  ></span>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal my-3">
            <div class="field-label is-flex is-align-items-center">
              <label class="label has-text-grey">
                <span>時間</span>
              </label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control is-expanded">
                  <input
                    class="input is-info is-rounded"
                    type="datetime-local"
                    name="takenAt"
                    th:value="*{takenAt}"
                    th:errorclass="is-danger"
                  />
                  <span
                    class="help is-danger"
                    th:if="${#fields.hasErrors('takenAt')}"
                    th:errors="*{takenAt}"
                  ></span>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal my-3">
            <div class="field-label is-flex is-align-items-center">
              <label class="label has-text-grey">量</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control has-icons-right">
                  <input
                    class="input is-info is-rounded"
                    type="number"
                    name="quantity"
                    th:value="*{quantity}"
                    min="0"
                    step="0.001"
                    max="10000"
                    th:errorclass="is-danger"
                  />
                  <!-- TODO: 単位を取得して表示する -->
                  <span class="icon is-small is-right"></span>
                  <span
                    class="help is-danger"
                    th:if="${#fields.hasErrors('quantity')}"
                    th:errors="*{quantity}"
                  ></span>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal my-3">
            <div class="field-label is-flex is-align-items-center">
              <label class="label has-text-grey">経過観察</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <div class="notification py-3 px-5 has-background-white-bis">
                    <div class="field my-3">
                      <label class="label has-text-grey">症状</label>
                      <div class="field-body">
                        <div class="field">
                          <div class="control has-icons-right">
                            <input
                              class="input is-info is-rounded"
                              type="text"
                              name="symptom"
                              th:value="*{symptom}"
                              th:errorclass="is-danger"
                            />
                            <span
                              class="help is-danger"
                              th:if="${#fields.hasErrors('symptom')}"
                              th:errors="*{symptom}"
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="field my-3">
                      <div class="field-body">
                        <div class="field">
                          <label class="label has-text-grey">服用前</label>
                          <div class="control mb-1">
                            <div
                              class="select is-rounded is-fullwidth"
                              th:classappend="${#fields.hasErrors('beforeTaking')} ? is-danger : is-info"
                            >
                              <select name="beforeTaking">
                                <option
                                  th:each="conditionLevel:${conditionLevels}"
                                  th:value="${conditionLevel.name}"
                                  th:text="${conditionLevel.str}"
                                  th:selected="(${conditionLevel} == *{beforeTaking})"
                                ></option>
                              </select>
                            </div>
                            <span
                              class="help is-danger"
                              th:if="${#fields.hasErrors('beforeTaking')}"
                              th:errors="*{beforeTaking}"
                            ></span>
                          </div>
                        </div>
                        <div class="field">
                          <label class="label has-text-grey">服用後</label>
                          <div class="control mb-1">
                            <div
                              class="select is-rounded is-fullwidth"
                              th:classappend="${#fields.hasErrors('afterTaking')} ? is-danger : is-info"
                            >
                              <select name="afterTaking">
                                <option value="">-----</option>
                                <option
                                  th:each="conditionLevel:${conditionLevels}"
                                  th:value="${conditionLevel.name}"
                                  th:text="${conditionLevel.str}"
                                  th:selected="(${conditionLevel} == *{afterTaking})"
                                ></option>
                              </select>
                            </div>
                            <span
                              class="help is-danger"
                              th:if="${#fields.hasErrors('afterTaking')}"
                              th:errors="*{afterTaking}"
                            ></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal my-3">
            <div class="field-label is-flex is-align-items-center">
              <label class="label has-text-grey">
                <span>ノート</span>
              </label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control is-expanded">
                  <textarea
                    class="textarea is-info has-fixed-size"
                    rows="5"
                    name="note"
                    placeholder="500文字以内で入力してください。"
                    th:errorclass="is-danger"
                  >[[*{note}]]</textarea>
                  <span
                    class="help is-danger"
                    th:if="${#fields.hasErrors('note')}"
                    th:errors="*{note}"
                  ></span>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-grouped is-grouped-centered my-3">
            <p class="control">
              <button class="button is-rounded is-link">完了</button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>