<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="example.infrastructure.query.takingrecord.JSONTakingRecordMapper">
    <select id="countByAccountIdsAndMedicineIdsAndRecorderAt" resultType="_long">
        SELECT
            COUNT(*)
        FROM
            <include refid="AllTables"/>
        WHERE
            <include refid="Filtering"/>;
    </select>

    <select id="findAllByAccountIdsAndMedicineIdsAndRecorderAt" resultMap="JSONTakingRecordResultMap">
        SELECT
            <include refid="AllColumns"/>
        FROM
            <include refid="AllTables"/>
        WHERE
            <include refid="Filtering"/>
        ORDER BY
            taken_at DESC
        LIMIT
            #{pageSize}
        OFFSET
            #{offset};
    </select>

    <sql id="AllColumns">
        taking_records.taking_record_id AS taking_record_id,
        taking_records.recorder AS recorder,
        taking_records.symptom AS symptom,
        taking_records.before_taking AS before_taking,
        taking_records.after_taking AS after_taking,
        taking_records.note AS note,
         DATE_FORMAT(taking_records.taken_at, '%Y/%m/%d %H:%i') AS taken_at,
        medicines.medicine_id AS medicine_id,
        medicines.medicine_name AS medicine_name,
        CONCAT(taking_records.quantity, medicines.taking_unit) AS dose,
        profiles.account_id,
        profiles.username,
        CONCAT(profile_image_url_endpoint, profile_image_url_path) AS profile_image_url,
        profiles.account_id = #{requester} AS is_own
    </sql>

    <sql id="AllTables">
        taking_records
        LEFT OUTER JOIN medicines ON taking_records.taken_medicine = medicines.medicine_id
        LEFT OUTER JOIN profiles ON taking_records.recorder = profiles.account_id
    </sql>

    <sql id="Filtering">
        <foreach collection="accountIds" item="accountId" open="recorder IN (" separator="," close=")">
              #{accountId}
        </foreach>
        <foreach collection="medicineIds" item="medicineId" open="AND medicine_id IN (" separator="," close=")">
              #{medicineId}
        </foreach>
        <choose>
            <when test="start != null and end == null">
                AND DATE(taken_at) <![CDATA[ >= ]]> #{start}
            </when>
            <when test="start == null and end != null">
                AND DATE(taken_at) <![CDATA[ <= ]]> #{end}
            </when>
            <when test="start != null and end != null">
                AND DATE(taken_at) BETWEEN #{start} AND #{end}
            </when>
        </choose>
    </sql>

    <resultMap id="JSONTakingRecordResultMap" type="example.application.query.takingrecord.JSONTakingRecord">
        <constructor>
            <idArg column="taking_record_id" javaType="String"/>
            <arg column="{medicine_id, medicine_name, dose}"
                 javaType="example.application.query.takingrecord.JSONTakenMedicine" resultMap="JSONTakenMedicineResultMap"/>
            <arg column="{symptom, before_taking, after_taking}"
                 javaType="example.application.query.takingrecord.JSONFollowUp" resultMap="JSONFollowUpResultMap"/>
            <arg column="note" javaType="String"/>
            <arg column="taken_at" javaType="String"/>
            <arg column="{account_id, username, profile_image_url}"
                 javaType="example.application.query.user.JSONUser" resultMap="JSONUserResultMap"/>
            <arg column="is_own" javaType="_boolean"/>
        </constructor>
    </resultMap>

    <resultMap id="JSONTakenMedicineResultMap" type="example.application.query.takingrecord.JSONTakenMedicine">
        <constructor>
            <idArg column="medicine_id" javaType="String"/>
            <idArg column="medicine_name" javaType="String"/>
            <idArg column="dose" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="JSONFollowUpResultMap" type="example.application.query.takingrecord.JSONFollowUp">
        <constructor>
            <arg column="symptom" javaType="String"/>
            <arg column="before_taking" javaType="String"/>
            <arg column="after_taking" javaType="String"/>
        </constructor>
    </resultMap>
    <resultMap id="JSONUserResultMap" type="example.application.query.user.JSONUser">
        <constructor>
            <idArg column="account_id" javaType="String"/>
            <arg column="username" javaType="String"/>
            <arg column="profile_image_url" javaType="String"/>
        </constructor>
    </resultMap>
</mapper>